@using _0_Framework.Infrastructure
@inject _0_Framework.Application.IAuthHelper AuthHelper;
@{
    var currentAccout = AuthHelper.CurrentAccountInfo();
}
<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <div class="user-details">
            <div class="pull-right">
                <img src="~/AdminTheme/assets/images/users/avatar-1.jpg" alt="" class="thumb-md img-circle">
            </div>
            <div class="user-info">
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" aria-expanded="false">@currentAccout.Fullname</a>
                </div>

                <p class="text-muted m-0">@currentAccout.Role</p>
            </div>
        </div>
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>

                <li>
                    <a asp-page="/UserAccount/Index" class="waves-effect active"><i class="md md-home"></i><span> پروفایل </span></a>
                </li>

                    <li>
                        <a asp-page="/Orders/Index" class="waves-effect"><i class="md md-payment"></i><span> سفارشات </span></a>
                    </li>
                    

                <li>
                    <a asp-page="/Account" asp-page-handler="Logout" class="waves-effect active"><i class="fa fa-sign-out"></i><span> خروج </span></a>
                </li>

            </ul>

            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- Left Sidebar End -->
